/* .well-content */
/* { */
	/* margin: 0px; */
	/* padding: 0px; */
	/* height: 100px;  */
	/* overflow: auto;	 */
    /* text-align: left; */
/* } */
/* .h1, h1 { */
    /* font-size: 14px; */
	/* font-weight: bolder ; */
/* } */

/* .h2, h2 { */
    /* font-size: 12px; */
	/* font-weight: bold ; */
/* } */
/* .ul, ul { */
	    /* font-size: 10px; */
/* } */
/* #sidenav_left{ */
	/* display: none; */
/* } */
.popup_poem{
	    color: yellow;
}
.material-icons{
	    font-size: smaller !important;
}
.h1, h1 {
    font-size: large !important;
}
.h2, h2 {
    font-size: xx-small !important;
    font-weight: bold !important;
}


